.explore-h1 {
    text-align: center;
    color: #316C2F;
    font-size: 64px;
    letter-spacing: 10px;
    margin-bottom: -50px;
}

.explore-img-div {
    padding: 70px;
}

.explore-img-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.explore-img-div2 {
    background-color:#316C2F;
    width: 366px;
    height: 409px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    margin-top: 15px;
}

.explore-img-div2 {
    transition: 0.1s;
  }
  
  .explore-img-div2:hover {
    transform: scale(1.050);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .slick-prev,
  .slick-next {
      background-color: transparent !important;
      font-size: 100px; 
  }
  

  .slick-prev:before,
  .slick-next:before {
      color: #316C2F;
      opacity: 0.7;
  }
  
  .slick-slider .slick-prev,
  .slick-slider .slick-next {
      display: block !important;
  }

.explore-our-div{
    margin-top: 170px;
    overflow-x: hidden;
}

.img-fluid-side-image{
    margin-right: 40px;
}

.explore-our-container-slider{
    margin-top: -210px;
}
.side-img-div{
    display: flex;
    justify-content: end;
}

.left-side-div{
    margin-top: -80px;
}


@media (max-width: 576px) and (min-width: 320px) {
    .explore-img-div2 {
        background-color: #316C2F;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explore-img-div {
        padding: 45px;
    }

    .explore-h1 {
        text-align: center;
        color: #316C2F;
        font-size: 55px;
        letter-spacing: 25px;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .explore-img-div2 {
        background-color: #316C2F;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explore-our-div {
        margin-top: 120px !important;
        margin-bottom: 50px !important;
    }

    .explore-h1 {
        text-align: center;
        color: #316C2F;
        font-size: 35px;
        letter-spacing: 2px;
        margin-bottom: -50px;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {}

@media screen and (max-width: 1200px) and (min-width: 992px) {}

/* @media only screen and (min-resolution: 2dppx) {
  } */

@media only screen and (min-resolution: 3dppx) {

    /* For 4K screens */
    .h1-title {
        font-size: 3em;
        /* Adjust font size for 4K screens */
    }
}