.footer {
    background-color: #606C38;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}

.logo-background {
    background-color: #606C38;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.footer-logo {
    position: relative;
    z-index: 1;
    background-color: #FEFAE0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-logo-img {
    margin-left: 17px;
    margin-top: 34px;
    width: 158px;
    height: 98px;
}

.icons {
    width: 60px;
    height: 60px;
}

.social-icon {
    margin-left: 60px;
    margin-top: 15px;
}

.quick-links-container {
    display: grid;
    justify-content: center;
    margin-top: -165px;
    margin-left: -170px
}

.quick-links-title {
    font-size: 25px;
    color: rgba(221, 161, 94, 1);
}

.quick-links-lists {
    font-size: 20px;
    display: grid;
    text-align: center;
    width: 87px;
    color: #fffbf8;
}
.hr-line {
    width: 90%;
    color: antiquewhite;
}

.contact-us-container {
    margin-left: 900px;
    margin-top: -217px;
}
.contact-us-icons {
    width: 50px;
    height: 50px;
}
.contact-us-span {
    margin-left: 15px;
}


@media screen and (max-width: 768px) {
    .social-icon {
        margin-left: 65px;
        margin-top: 15px;
    }

    .icons {
        height: 50px;
        width: 50px;
    }

    .quick-links {
        /* margin-top: -150px; */
        margin-left: 150px;
    }

    .quick-links-lists {
        font-size: 20px;
        display: grid;
        text-align: center;
        width: 87px;
        color: #fffbf8;
    }

    .quick-links-title {
        font-size: 25px;
        color: rgba(221, 161, 94, 1);
    }

    .contact-us-container {
        margin-left: 480px;
        margin-top: -200px;
    }

    .hr-line {
        width: 90%;
        color: antiquewhite;
    }

    .contact-us-icons {
        width: 30px;
        height: 30px;
    }

    .contact-us-span {
        margin-left: 15px;
    }

    .footer {
        background-color: #606C38;
        height: 127vh;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
}

@media screen and (max-width: 480px) {
    .footer-logo-img {
        margin-left: 12px;
        margin-top: 11px;
        width: 75px;
        height: 66px;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #FEFAE0;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .logo-background {
        background-color: #606C38;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
        margin-left: 60px;
    }

    .social-icon {
        margin-left: 168px;
        margin-top: 15px;
    }

    .icons {
        height: 30px;
        width: 30px;
    }

    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
    }

    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .quick-links-span {
        color: white;
        text-align: center;
    }

    .contact-us-icons {
        width: 25px;
        height: 25px;
    }

    .contact-us-icons-details {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
    }

    .hr-line {
        margin-left: 40px;
        color: aliceblue;
        width: 80%;
        height: 10px;
    }

    .quick-links {
        margin-top: 0px;
        margin-left: 0px;
    }

    .footer {
        background-color: #606C38;
        height: 100vh;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .contact-us-container {
        margin-left: 0px;
        margin-top: 0px;
    }
    .quick-links-container {
        display: grid;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px
    }

    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 100px;
        padding-top: 20px;
    }
}