
.footer {
    background-color: #29336A !important;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}


.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}

.logo-background {
   background-color: #29336A !important;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.footer-logo {
    position: relative;
    z-index: 1;
    background-color: #FEFAE0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-logo-img {
    margin-left: 17px;
    margin-top: 34px;
    width: 158px;
    height: 98px;
}

.social-icon{
    display: block;
    margin-top: 40px;
    margin-left: 63px !important;
}

.icons{
    width: 50px;
    height: 50px;
}
.quick-links-container {
    display: flex;
    margin-left: 596px;
    margin-top: -234px;
    margin-bottom: 8px;
}
.quick-links-title {
    margin-top: 19px;
    font-size: 50px;
    color: rgba(221, 161, 94, 1);
    font-family: 'Libre Baskerville', serif; 
}

.quick-links-lists {
    display: grid;
    justify-content: center;
    font-size: 34px;
    text-align: center;
    width: 100%;
    gap: 20px;
    font-family: 'Libre Baskerville', serif; 

}


.quick-links-span {
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;  
    cursor: pointer;  
} 

.contact-us{
    margin-top: -345px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 400px !important;
}

.contact-us-span {
    color: rgba(221, 161, 94, 1);
    font-size: 34px;
    text-align: center;
    margin-top: 40px;
}

.contact-us-icons-details{
    display: flex;
    gap: 225px;
    margin-bottom: 61px;
}

.hr-line {
    width: 140%;
    border-top: 7px solid #efe3e3;
}

.contact-us-container{
    margin-top: 200px;
}



@media screen and (max-width: 325px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 90px !important;
        padding-top: 20px !important; 
        
    }

    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }
    .social-icon{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 0px !important;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    .quick-links-container {
        display: block;
        margin-left: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
    }
    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 100px;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        gap: 20px;
        font-family: 'Libre Baskerville', serif; 
    
    }
    .contact-us{
        margin-top: -90px !important;
        padding-left: 0px !important;
    }

    .contact-us-icons-details{
        display: block !important;
        gap: 0 !important;
        margin-bottom: 1px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
        font-size: 20px !important;
        text-align: center;
        margin-top: 5px !important;
    }
    
    .contact-us-icons-details{
        display: flex;
        gap: 225px;
        margin-bottom: 61px;
    }

    .contact-us-icons{
        margin-left: 50px !important;
        width: 50px !important;
        height: 50px !important;
    }
    
}

@media screen and (min-width: 326px) and (max-width: 375px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 111px !important;
        padding-top: 20px !important; 
    }

    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }
    .social-icon{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 0px !important;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    .quick-links-container {
        display: block;
        margin-left: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
    }
    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 120px;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        gap: 20px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    
    .contact-us{
        margin-top: -90px !important;
        padding-left: 0px !important;
    }

    .contact-us-icons-details{
        display: block !important;
        gap: 0 !important;
        margin-bottom: 1px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
        font-size: 20px !important;
        text-align: center;
        margin-top: 5px !important;
    }
    
    .contact-us-icons-details{
        display: flex;
        gap: 225px;
        margin-bottom: 61px;
    }

    .contact-us-icons{
        margin-left: 50px !important;
        width: 50px !important;
        height: 50px !important;
    }
    
    
}


@media screen and (min-width: 376px) and (max-width: 420px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 125px !important;
        padding-top: 20px !important; 
    }

    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 11px !important
        ;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    
    .quick-links-container {
        display: block;
        margin-left: 0px !important;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
    }
    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 157px;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        gap: 20px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    
    .contact-us{
        margin-top: -90px !important;
        padding-left: 0px !important;
    }

    .contact-us-icons-details{
        display: block !important;
        gap: 0 !important;
        margin-bottom: 1px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
        font-size: 20px !important;
        text-align: center;
        margin-top: 5px !important;
    }
    
    .contact-us-icons-details{
        display: flex;
        gap: 225px;
        margin-bottom: 61px;
    }

    .contact-us-icons{
        margin-left: 50px !important;
        width: 50px !important;
        height: 50px !important;
    }
}

@media screen and (min-width: 421px) and (max-width: 425px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 137px !important;
        padding-top: 20px !important; 
    }

    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 17px !important;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    
    .quick-links-container {
        display: block;
        margin-left: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
    }
    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 145px;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        gap: 20px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    
    .contact-us{
        margin-top: -90px !important;
        padding-left: 0px !important;
    }

    .contact-us-icons-details{
        display: block !important;
        gap: 0 !important;
        margin-bottom: 1px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
        font-size: 20px !important;
        text-align: center;
        margin-top: 5px !important;
    }
    
    .contact-us-icons-details{
        display: flex;
        gap: 225px;
        margin-bottom: 61px;
    }

    .contact-us-icons{
        margin-left: 50px !important;
        width: 50px !important;
        height: 50px !important;
    }
    
}

@media screen and  (min-width: 426px) and (max-width: 480px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 137px !important;
        padding-top: 20px !important; 
    }

    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }

    .social-icon{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 0px !important
        ;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    
    .quick-links-container {
        display: block;
        margin-left: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 8px !important;
    }
    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 145px;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 20px;
        text-align: center;
        width: 100%;
        gap: 20px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    
    .contact-us{
        margin-top: -90px !important;
        padding-left: 0px !important;
    }

    .contact-us-icons-details{
        display: block !important;
        gap: 0 !important;
        margin-bottom: 1px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1);
        font-size: 20px !important;
        text-align: center;
        margin-top: 5px !important;
    }
    
    .contact-us-icons-details{
        display: flex;
        gap: 225px;
        margin-bottom: 61px;
    }

    .contact-us-icons{
        margin-left: 50px !important;
        width: 50px !important;
        height: 50px !important;
    }

    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 45px !important;
        padding-top: 20px !important; 
    }

    
    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }

    .social-icon {
        display: block !important;
        margin-top: 30px !important;
        margin-left: 85px !important;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    .quick-links-container {
        display: block;
        margin-left: -140px !important;
        margin-top: -113px !important;
        margin-bottom: 8px !important;
    }

    .quick-links-title {
        margin-top: 19px;
        font-size: 23px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left:402px !important;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 15px;
        text-align: center;
        width: 100%;
        gap: 10px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us {
        margin-top: -254px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 229px !important;
    }

    .contact-us-container {
        margin-top: 83px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-bottom: 59px !important;
        margin-top: 34px;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1) !important;
        font-size: 30px !important;
        text-align: center !important;
        margin-top: 15px !important;
    }

    .contact-us-icons{
        object-fit: contain !important;
        width: 34px !important;
        margin-top: 10px !important;
    }

}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 45px !important;
        padding-top: 20px !important; 
    }

    
    .logo-background {
        background-color: #29336A !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 30px !important;
        width: 110px !important;
        height: 72px !important;
    }

    .social-icon {
        display: block !important;
        margin-top: 30px !important;
        margin-left: 85px !important;
    }

    .icons{
        width: 50px;
        height: 50px;
    }

    .quick-links-container {
        display: block;
        margin-left: -140px !important;
        margin-top: -113px !important;
        margin-bottom: 8px !important;
    }

    .quick-links-title {
        margin-top: 19px;
        font-size: 30px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif; 
        margin-left: 515px !important;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 22px;
        text-align: center;
        width: 100%;
        gap: 10px;
        font-family: 'Libre Baskerville', serif; 
    
    }

    .contact-us-container {
        margin-top: 49px !important;
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us {
        margin-top: -247px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 255px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-bottom: 48px !important;
        margin-top: 48px !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1) !important;
        font-size: 30px !important;
        text-align: center !important;
        margin-top: 15px !important;
    }

    .contact-us-icons{
        object-fit: contain !important;
        width: 34px !important;
        margin-top: 10px !important;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .contact-us {
        margin-top: -284px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 300px !important;
    }
    .contact-us-container {
        margin-top: 75px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-top: 26px !important;
        margin-bottom: 30px !important;
    }

    .contact-us-icons {
        object-fit: contain !important;
        width: 50px !important;
        margin-top: 40px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-top: 26px !important;
        margin-bottom: 65px !important;
    }
}

@media screen and ( min-width: 1281px) and (max-width: 1366px) {
    .contact-us {
        margin-top: -284px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 378px !important;
    }

    .contact-us-container {
        margin-top: 56px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-bottom: 58px !important;
        margin-top: 60px !important;
    }

    .contact-us-icons {
        object-fit: contain !important;
        width: 50px !important;
        margin-top: 10px !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1) !important;
        font-size: 43px !important;
        text-align: center !important;
        margin-top: 15px !important;
        line-height: 27px !important;
    }
    
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 90px !important;
        padding-top: 20px !important;
    }

    
    .logo-background {
        background-color: #29336A !important;
        width: 211px !important;
        height: 211px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 190px !important;
        height: 190px !important;
    }

    .footer-logo-img {
        margin-left: 16px !important;
        margin-top: 37px !important;
        width: 150px !important;
        height: 100px !important;
    }

    .social-icon {
        display: block !important;
        margin-top: 30px !important;
        margin-left: 60px !important;
    }

    .icons {
        width: 150px !important;
        height: 150px !important;
        object-fit: contain !important;
    }

    .quick-links-container {
        display: block;
        margin-left: -177px !important;
        margin-top: -265px !important;
        margin-bottom: 8px !important;
    }

    .quick-links-title {
        margin-top: -41px;
        font-size: 45px;
        color: rgba(221, 161, 94, 1);
        font-family: 'Libre Baskerville', serif;
        margin-left: 705px !important;
    }
    
    .quick-links-lists {
        display: grid;
        justify-content: center;
        font-size: 30px;
        text-align: center;
        width: 100%;
        gap: 10px;
        font-family: 'Libre Baskerville', serif;
    
    }

    .hr-line {
        width: 100% !important;
        border-top: 7px solid #efe3e3 !important;
    }

    .contact-us {
        margin-top: -284px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 378px !important;
    }

    .contact-us-container {
        margin-top: 88px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 9px !important;
        margin-bottom: 58px !important;
        margin-top: 30px !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1) !important;
        font-size: 40px !important;
        text-align: center !important;
        margin-top: 15px !important;
        line-height: 27px !important;
    }

    .contact-us-icons{
        object-fit: contain !important;
        width: 50px !important;
        margin-top: 10px !important;
    }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 45px !important;
        padding-top: 20px !important; 
    }
    
    .logo-background {
        background-color: #29336A !important;
        width: 238px !important;
        height: 238px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 210px !important;
        height: 210px !important;
    }

    .footer-logo-img {
        margin-left: 18px !important;
        margin-top: 40px !important;
        width: 170px !important;
        height: 106px !important;
    }

    .social-icon{
        display: block !important;
        margin-top: 60px !important;
        margin-left: 40px !important;
    }

    .icons{
        width: 100px !important;
        height: 100px !important;
    }

    .contact-us {
        margin-top: -345px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding-left: 521px !important;
    }

    .contact-us-span {
        color: rgba(221, 161, 94, 1) !important;
        font-size: 58px !important; 
        text-align: center !important;
        margin-top: 40px !important;
    }

    .contact-us-icons{
        object-fit: contain !important;
        width: 90px !important;
        margin-top: 10px !important;
    }

    .contact-us-icons-details {
        display: flex !important;
        gap: 225px !important;
        margin-top: 69px !important;
        margin-bottom: 61px !important;
    }
    .contact-us-container {
        margin-top: -12px !important;
    }
}

@media screen and (min-width: 2561px) and (max-width: 3840px) {
    .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 45px !important;
        padding-top: 20px !important; 
    }
    
    .logo-background {
        background-color: #29336A !important;
        width: 238px !important;
        height: 238px !important;
        border-radius: 50% !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -100px !important;
    }

    .footer-logo {
        position: relative;
        z-index: 1;
        background-color: #ffffff;
        border-radius: 50%;
        width: 140px !important;
        height: 140px !important;
    }

    .footer-logo-img {
        margin-left: 14px !important;
        margin-top: 35px !important;
        width: 172px !important;
        height: 110px !important;
    }

    .social-icon{
        display: block !important;
        margin-top: 20px !important;
        margin-left: 40px !important;
    }

    .icons{
        width: 50px !important;
        height: 50px !important;
    }
    
}

