.heritage-text-div{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.heritage-span{
    font-size: 48px;
    letter-spacing: 30px;
    margin-top: 33px;
    color: #316C2F;
}

.heritage-h3{
    font-size: 130px;
    color: #316C2F;
    margin-bottom: -0.5rem !important;
}

.heritage-img{
    animation: swing 1s ease-in-out infinite alternate;
}


@keyframes swing {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(20px); 
    }
  }

  .heritage-img-text-div{
    margin-top: -1016px;
    display: flex;
  }