.quick-links {
    margin-left: 600px;
    margin-top: -257px;
}

.quick-links-title-typo {
    color: #DDA15E !important;
    font-size: 54px !important;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 400 !important;
}

.quick-links-text{
    font-size: 40px;
    text-align: center !important;
    font-family: 'Libre Baskerville', serif !important;
    color: white !important;
    font-size: 34px !important;
}

.quick-links-items{
    display: flex !important;
    justify-content: center !important;
}




@media screen and (max-width: 325px) {
    .quick-links {
        margin-left: 40px !important;
        margin-top: 7px !important;
    }
}

@media screen and (min-width: 326px) and (max-width: 375px) {
    .quick-links {
        margin-left: 55px !important;
        margin-top: 7px !important;
    }
    
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .quick-links {
        margin-left: 95px !important;
        margin-top: 7px !important;
    }
    
}

@media screen and (min-width: 426px) and (max-width: 500px) {
    .quick-links {
        margin-left: 95px !important;
        margin-top: 7px !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -43px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 35px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 25px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 55px !important;
    }
}


@media screen and (min-width: 769px) and (max-width: 834px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -35px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 35px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 25px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 100px !important;
    }
}


@media screen and (min-width: 835px) and (max-width: 1024px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -38px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 35px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 25px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 138px !important;
    }
}



@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -103px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 50px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 30px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 117px !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -100px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 50px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 30px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 179px !important;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -104px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 60px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 35px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 195px !important;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {  
    
    .quick-links {
        margin-left: 259px !important;
        margin-top: -118px !important;
    }
}

@media screen and (min-width: 1921px) and (max-width: 2048px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -258px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 85px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 50px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 585px !important;
    } 
}


@media screen and (min-width: 2049px) and (max-width: 2240px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -258px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 85px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 50px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 585px !important;
    } 
}


@media screen and (min-width: 2241px) and (max-width: 2560px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -90px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 85px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 50px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 532px !important;
    } 
}


@media screen and (min-width: 2561px) and (max-width: 3200px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -200px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 85px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 50px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 1100px !important;
    } 
}



@media screen and (min-width: 3201px) and (max-width: 3840px) {
    .quick-links {
        margin-left: 0px !important;
        margin-top: -200px !important;
    }
    .quick-links-title-typo {
        color: #DDA15E !important;
        font-size: 85px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
    }

    .quick-links-text {
        text-align: center !important;
        font-family: 'Libre Baskerville', serif !important;
        color: white !important;
        font-size: 50px !important;
    }

    .css-h4y409-MuiList-root {
        list-style: none !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 1100px !important;
    } 
}