.testimonials-container-grid {
    padding-left: 100px !important;
    padding-right: 100px !important;
    padding-top: 50px;
    padding-bottom: 100px;
}

.testimonials-h4 {
    font-size: 48px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #316C2F;
    letter-spacing: 15px;
}

.testimonials-subtitle {
    font-size: 110px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    color: #316C2F;
}

@media screen and (max-width: 500px) {
    .testimonials-container-grid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50px !important;
    }

    .testimonials-h4 {
        font-size: 25px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
        letter-spacing: 2px !important;
    }

    .testimonials-subtitle {
        font-size: 34px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    .testimonials-container-grid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50px !important;
    }

    .testimonials-h4 {
        font-size: 34px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
        letter-spacing: 6px !important;
    }

    .testimonials-subtitle {
        font-size: 47px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
    }
    
}


@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .testimonials-container-grid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50px !important;
    }

    .testimonials-h4 {
        font-size: 50px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
        letter-spacing: 13px !important;
    }

    .testimonials-subtitle {
        font-size: 76px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
    }
    
}


@media screen and (min-width: 1440px) and (max-width: 2560px) {
    .testimonials-container-grid {
        padding-left: 100px !important;
        padding-right: 100px !important;
        padding-top: 50px !important;
    }

    .testimonials-h4 {
        font-size: 65px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
        letter-spacing: 20px !important;
    }

    .testimonials-subtitle {
        font-size: 100px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
    }
    
}


@media screen and (min-width: 2560px) and (max-width: 5000px) {
    .testimonials-container-grid {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50px !important;
    }

    .testimonials-h4 {
        font-size: 90px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
        letter-spacing: 40px !important;
    }

    .testimonials-subtitle {
        font-size: 170px !important;
        font-family: 'Libre Baskerville', serif !important;
        font-weight: 400 !important;
        color: #316C2F !important;
    }
    
}