.testimonials-img {
    width: 195px;
    height: 156px;
    border: 3px solid black;
    border-radius: 30px;
    display: block;
}

.testimonials-carousel {
    background-color: #F5C583;
    width: 540px;
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    border: 3px solid black;
    border-radius: 30px;
    margin-top: 100px;
    padding-top: 100px;
}

.testimonials-img-div {
    display: flex;
    justify-content: center;
    margin-top: -200px;
}

.testimonials-div-text {
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 19px;
}

.testimonials-h5 {
    font-size: 55px !important;
    font-weight: 400 !important;
    font-family: 'Libre Baskerville', serif !important;
}

.testimonials-subtitle1 {
    font-size: 17px !important;
    font-weight: 400 !important;
    font-family: 'Libre Baskerville', serif !important;
}


@media screen and (max-width: 325px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 305px !important;
        height: 306px !important;
        margin-left: 25px !important;
        margin-right: 94px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -177px !important;
    }

    .testimonials-img {
        width: 130px !important;
        height: 116px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 32px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}


@media screen and (min-width: 326px) and (max-width: 375px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 305px !important;
        height: 306px !important;
        margin-left: 54px !important;
        margin-right: 94px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -177px !important;
    }

    .testimonials-img {
        width: 130px !important;
        height: 116px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 32px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}


@media screen and (min-width: 376px) and (max-width: 500px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 305px !important;
        height: 306px !important;
        margin-left: 72px !important;
        margin-right: 94px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -177px !important;
    }

    .testimonials-img {
        width: 130px !important;
        height: 116px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 32px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 339px !important;
        height: 306px !important;
        margin-left: 42px !important;
        margin-right: 94px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -177px !important;
    }

    .testimonials-img {
        width: 130px !important;
        height: 116px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 32px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 12px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 464px !important;
        height: 306px !important;
        margin-left: 42px !important;
        margin-right: 94px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -177px !important;
    }

    .testimonials-img {
        width: 130px !important;
        height: 116px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 45px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .testimonials-carousel {

        background-color: #F5C583 !important;
        width: 375px !important;
        height: 370px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;

    }

    .testimonials-subtitle1 {
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }


    .testimonials-h5 {
        font-size: 40px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}


@media screen and (min-width: 1281px) and (max-width: 1500px) {
    .testimonials-carousel {

        background-color: #F5C583 !important;
        width: 375px !important;
        height: 370px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;

    }

    .testimonials-subtitle1 {
        font-size: 15px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }


    .testimonials-h5 {
        font-size: 40px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}


@media screen and (min-width: 1501px) and (max-width: 1920px) {}


@media screen and (min-width: 1921px) and (max-width: 2048px) {
    .testimonials-carousel {

        background-color: #F5C583 !important;
        width: 581px !important;
        height: 480px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;

    }

    .testimonials-subtitle1 {
        font-size: 22px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }


    .testimonials-h5 {
        font-size: 65px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}

@media screen and (min-width: 2049px) and (max-width: 2304px) {
    .testimonials-carousel {

        background-color: #F5C583 !important;
        width: 633px !important;
        height: 480px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;

    }

    .testimonials-subtitle1 {
        font-size: 22px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }


    .testimonials-h5 {
        font-size: 65px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}

@media screen and (min-width: 2305px) and (max-width: 2560px) {
    .testimonials-img-div {
        display: flex !important;
        justify-content: center !important;
        margin-top: -200px !important;
    }

    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 802px !important;
        height: 578px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-h5 {
        font-size: 95px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 26px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}

@media screen and (min-width: 2561px) and (max-width: 3200px) {}

@media screen and (min-width: 3201px) and (max-width: 5000px) {
    .testimonials-carousel {
        background-color: #F5C583 !important;
        width: 698px !important;
        height: 564px !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        margin-top: 100px !important;
        padding-top: 100px !important;
    }

    .testimonials-img {
        width: 286px !important;
        height: 212px !important;
        border: 3px solid black !important;
        border-radius: 30px !important;
        display: block !important;
    }

    .testimonials-h5 {
        font-size: 87px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }

    .testimonials-subtitle1 {
        font-size: 25px !important;
        font-weight: 400 !important;
        font-family: 'Libre Baskerville', serif !important;
    }
}