.testimonials-h3 {
    text-align: center;
    color: #316C2F;
    font-size: 48px;
    letter-spacing: 20px;
    margin-bottom: -0.5rem !important;
}

.testimonials-h4 {
    color: #316C2F;
    text-align: center;
    font-size: 112px;
}

.testimonials-div {
    margin-top: -300px;
    margin-bottom: 150px;
}

.testimonials-div1 {
    margin-right: 30px;
}

.testimonials-img-div1 {
    background-color: rgba(221, 161, 94, 1);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    height: 380px;
}

.testimonials-slider {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 150px;
}

.testimonials-img-div {
    margin-top: 270px;
}


.testimonials-slider-2 {
    width: 1020px !important;
    height: 451px;
    background-color: rgba(221, 161, 94, 1);
    margin-bottom: 50px;
    margin-top: 60px;
    border: 2px solid black;
    border-radius: 30px;
}

.testimonials-h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
}

.testimonials-p {
    text-align: center;
    padding: 15px;
    margin-top: 0px;
}

.testimonials-slider-2-images {
    display: flex;
    justify-content: center;
    margin-top: -131px;
}

.testimonials-images {
    width: 220px;
    height: 190px;
    border: 2px solid black;
    border-radius: 25px;
}

.testimonials-slider-2:nth-child(2) {

    transform: scale(1.4);
    transition: transform 0.3s ease;
}